* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(images/bg.png);
  background-size: cover;
  background-position: center;
}

nav {
  background-color: #4d668b;
  text-align: center;
  font-size: 14px;
}
nav ul {
  cursor: pointer;
  display: inline-flex;
  list-style-type: none;
  color: #fff6e9;
}
nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff6e9;
}
.active,
nav ul li:hover {
  background: #7ea6e2;
  border-radius: 3px;
}

nav .fa {
  margin-right: 8px;
}

.sub-menu-1 {
  display: none;
}
nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: #4d668b;
  margin-top: 15px;
  margin-left: -15px;
}
nav ul li:hover .sub-menu-1 ul {
  display: block;
}
nav ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 18px;
  border-bottom: 1px dotted #fff6e9;
  text-align: left;
  border-radius: 0;
  background: transparent;
}
nav ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
nav ul li:hover .sub-menu-1 ul li:hover {
  color: #f7ead9;
}
.fa-angle-right {
  float: right;
}

.sub-menu-2 {
  display: none;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -50px;
  margin-left: 147px;
  background: #4d668b;
}
